/* ==UserStyle==
@name AB Highlights 2 Stylesheet
@author TheFallingMan
@namespace TheFallingMan
@description Requires AB Highlights 2 scripe.
@version 0.1.1
@Edited for personal use
==/UserStyle== */

@-moz-document domain("animebytes.tv") {
.torrent-page > .torrent-field
{
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    word-spacing: normal;
}

.torrent_table .group_torrent > td:first-child
{
    word-spacing: -0.3ex;
}

.torrent-page > [data-group],
.torrent-page > [data-region]
{
    margin-left: 0;
    margin-right: 0;
}

.torrent-page > [data-source*="Blu-ray"]
{
    color: #26a1ff;
}

.torrent-page > [data-source="TV"],
.torrent-page > [data-source="Web"]
{
    color: #f00;
}

.torrent-page > [data-container*="ISO"],
.torrent-page > [data-container*="M2TS"],
.torrent-page > [data-container*="MP4"]
{
    color: red;
}

.torrent-page > [data-container*="MKV"]
{
    color: #f1c40f;
}

.torrent-page > [data-codec="h264 10-bit"],
.torrent-page > [data-codec="h264"]
{
    color: #7deb7d;
}

.torrent-page > [data-codec="h265"],
.torrent-page > [data-codec="h265 10-bit"]
{
    color: #16a5a5;
}

.torrent-page > [data-resolution="4K"]
{
    color: yellow;
}

.torrent-page > [data-resolution="1080p"]
{
    color: #f1c40f;
}

.torrent-page > [data-audio-codec="MP3"],
.torrent-page > [data-audio-codec="AAC"],
.torrent-page > [data-audio-codec="OPUS"]
{
    color: red;
}

.torrent-page > [data-audio-codec="FLAC"]
{
    color: #c87ae8;
}

.torrent-page > [data-audio-codec="DTS"],
.torrent-page > [data-audio-codec="DTS-ES"],
.torrent-page > [data-audio-codec="DTS-HD"],
.torrent-page > [data-audio-codec="DTS-HD MA"],
.torrent-page > [data-audio-codec="AC3"],
.torrent-page > [data-audio-codec="TrueHD"]
{
    color: #8f21be;
}

.torrent-page > [data-audio-channels="5.1"],
.torrent-page > [data-audio-channels="6.1"]
{
    color: #02d3ee;
}


.torrent-page > [data-subbing="RAW"]
{
    color: red;
}

.torrent-page > [data-group="HorribleSubs"],
.torrent-page > [data-group="Erai-raws"]
{
    color: red;
}

.torrent-page > [data-group*="Commie"],
.torrent-page > [data-group*="MTBB"],
.torrent-page > [data-group*="PAS"],
.torrent-page > [data-group*="GJM"],
.torrent-page > [data-group*="Kaleido"],
.torrent-page > [data-group*="DDY"],
.torrent-page > [data-group*="Foxtrot"],
.torrent-page > [data-group*="Astral"],
.torrent-page > [data-group*="0x539"],
.torrent-page > [data-group*="Some-Stuffs"]
{
    color: #5de6ee;
}

.torrent-page > [data-group*="Arid"],
.torrent-page > [data-group*="YURI"],
.torrent-page > [data-group*="Datte13"],
.torrent-page > [data-group*="GSK_kun"],
.torrent-page > [data-group*="ARC"],
.torrent-page > [data-group="Drag"],
.torrent-page > [data-group*="sam"],
.torrent-page > [data-group*="Yuki"],
.torrent-page > [data-group*="UDF"],
.torrent-page > [data-group*="OZR"],
.torrent-page > [data-group*="Mysteria"],
.torrent-page > [data-group*="NH"],
.torrent-page > [data-group*="SCY"],
.torrent-page > [data-group*="Aergia"],
.torrent-page > [data-group*="Vodes"],
.torrent-page > [data-group*="FLFL"],
.torrent-page > [data-group*="Smoke"],
.torrent-page > [data-group*="Lulu"]
{
    color: #17e1a4;
}

.torrent-page > [data-source*="DVD"],
.torrent-page > [data-source*="DVD9"]
{
    color: #ff329f;
}

.torrent-page > [data-snatched]
{
    color: blue;
}

.torrent-page[data-snatched]
{
    opacity: 0.3;
}

.torrent-page[data-snatched]:hover
{
    opacity: 0.8;
}

.torrent-page > [data-encoding="MP3"],
.torrent-page > [data-bitrate="V0 (VBR)"]
{
    color: #227129;
}

.torrent-page > [data-source="CD"]
{
    color: yellow;
}

.torrent-page > [data-encoding="FLAC"],
.torrent-page > [data-bitrate*="Lossless"]
{
    color: #78bb7e;
}

.torrent-page > [data-subbing="Hardsubs"]
{
    color: red;
}

.torrent-page > [data-dual-audio]
{
    color: #8bb7ea;
}

.torrent-page > [data-misc="Digital"]
{
    color: #78bb7e;
}

.torrent-page > [data-misc="Ongoing"]
{
    color: yellow;
}

.torrent-page > [data-translation="Raw"]
{
    color: red;
}

.torrent-page > [data-misc="EPUB"]
{
    color: #26a1ff;
}
}
